# Data files ignorieren, Ordnerstruktur behalten
data/raw/*
data/processed/*

# .gitkeep-Dateien in data-Ordnern trotzdem erlauben
!data/raw/.gitkeep
!data/processed/.gitkeep

# CSV/ZIP generell ignorieren
*.csv
*.zip

# Models
outputs/models/
*.pkl
*.joblib

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Workspace
*code-workspace